.navbar {
  background-color: 	#0099cc;
  border-color: #0099cc;
  font-size: 22px;
  color: #333;
}

.btn-primary {
  background-color: #0099cc;
}

body {
  background-color: #1ac6ff;
}

.navbar-inverse .navbar-brand {
  color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a { 
  color: #ffffff;
}

.navbar-brand {
  font-size: 40px;
}

.navbar-header {
}


.navbar-nav {
}

.navbar-collapse {
}
